* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrContainer {
    border: 3px solid orangered;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    box-shadow: 2px 2px 2px black;
}

.qrContainer h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
}

#qrInput {
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

#qrButton {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: rgb(9, 204, 28);
    border-radius: 15px;
    color: white;
    font-family: cursive;

}